* {
    all: unset; //Unsets everything so you can style everything from scratch
}

.bar {
    background: linear-gradient(to right, #121212, #181818, #101010, #181818, #121212);
    opacity: 0.8;
    color: #ffb6b6;
    padding: 5px;
    border-radius: 5px;
    border-color: #080808;
    border-width: 4px;
    border-style: groove;
}
